/* Utilities: Start */

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.m-0 {
  margin: 0;
}

.w-50p {
  width: 50%;
}

.m-4 {
  margin: 4px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-white {
  color: white;
}

.text-primary {
  color: var(--text-primary-color);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Utilities: End */
